.ajax-upload-dragdrop, .ajax-file-upload-statusbar { /* set the right size of the multiple file uploader */
    position: relative;
    width: 100% !important;
    margin-left: 0px !important;
}

.editable-container { /* to avoid the resize cursor when under effect of the ordenation plugin*/
    cursor: default;
}
.editable-clear-x { /* to the user understand that it's clickable*/
    cursor: pointer;
}

.no-wrap { /* to don't break lines */
    white-space: nowrap;
}
textarea.no-resize {
    resize: none;
}

textarea.resize-v {
    resize: vertical;
}

textarea.resize-h {
    resize: horizontal;
}

div.box-header.with-button{ /* when needs a button inside the box-header */
    padding-top: 5px;
    padding-bottom: 10px;
}
div.box-header.with-button h3.box-title{
    top: 5px;
    position: relative;
}
div.box-header.with-button h3.box-title button{
    margin-top: -5px;
}

.trumbowyg-box { /* trumbowyg */
    margin: 0px !important;
}

.trumbowyg-small .trumbowyg-box.trumbowyg-editor-visible, .trumbowyg-small .trumbowyg-editor {
  min-height: 90px !important;
}

.trumbowyg-medium .trumbowyg-box.trumbowyg-editor-visible, .trumbowyg-medium .trumbowyg-editor {
  min-height: 150px !important;
}

.trumbowyg-large .trumbowyg-box.trumbowyg-editor-visible, .trumbowyg-large .trumbowyg-editor {
  min-height: 350px !important;
}

textarea.editor { /* makes the textarea with the size of the editor (to the user doesn't percept the rendering time of trumbowyg) */
    margin-top: 37px !important;
    height: 170px !important;
    width: 100% !important;
    padding: 20px !important;
}

a.no-style:link {
    text-decoration:none;
}
